.main-container{
    width: 100%;
    height: 100vh;background-image: linear-gradient(to bottom right, green, yellow);
}

.form-container{
    height: 100vh;
    background-color: #FFFFFF;
    width: 80%;
}
.navbar-brand {
    font-size: 40px;
}